// studio - elements - modal-window
// ========================

// start with the view/body
[class*="view-"] {

  // modal-window backdrop covers the window
  .wrapper-modal-window {
    @extend %ui-depth5;
    @include transition(all $tmg-f2 ease-in-out);
    position: absolute;
    top: 0;
    overflow: scroll;
    background: $black-t2;
    width: 100%;
    height: 100%;
    text-align: center;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }

    // basic modal content
    .modal-window  {
      @include box-sizing(border-box);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 40%;
      box-shadow: 0px 0px 7px $shadow-d1;
      border-radius: ($baseline/5);
      background-color: $gray-l4;
      padding: 7px;
      text-align: left;

      .modal-content {
        box-shadow: 0 0 3px $shadow-d1;
        background-color: $white;
        padding: 5%;
      }

      .title {
        @extend %t-title5;
        margin-bottom: ($baseline/2);
        font-weight: 600;
        color: $black;
      }

      .message {
        @extend %t-copy-sub2;
        color: $gray;
      }

      .error {

      }

      .modal-chin,
      .modal-actions {
        padding: ($baseline*0.75) 1% ($baseline/2) 1%;

        .action-item {
          @extend %t-action4;
          display: inline-block;
          margin-right: ($baseline*0.75);

          &:last-child {
            margin-right: 0;
          }
        }

        .action-primary {
          @include blue-button();
          @include font-size(12); // needed due to bad button mixins for now
          border-color: $blue-d1;
          color: $white;
        }

        a {
          color: $blue;

          &:hover {
            color: $blue-s2;
          }
        }
      }
    }


    // small modals - editors and dialogs
    .modal-sm {
      width: 35%;
      min-width: ($baseline*12.5);
    }

    // medium modals - forms and interactives
    .modal-med {
      width: 50%;
      min-width: ($baseline*15);
    }

    // large modals - component editors and interactives
    .modal-lg {
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      top: ($baseline*2);
      width: 65%;
      min-width: ($baseline*33);
      min-height: ($baseline*27);

      &.modal-editor {

        .modal-header {
          margin: ($baseline/4) ($baseline/2);

          .title {
            width: 48%;
            display: inline-block;
          }

          .modal-modes {
            width: 49%;
            display: inline-block;
            text-align: right;

            .action-item {
              display: inline-block;
              margin-left: ($baseline/2);

              .editor-button,
              .settings-button {
                @extend %btn-secondary-gray;
                @extend %t-copy-sub1;
                border: 0;
                padding: ($baseline/4) ($baseline/2);
                text-transform: uppercase;

                &:hover {
                }

                &.is-set {
                  background-color: $gray-d1;
                  color: $white;
                }
              }
            }
          }
        }

        .modal-content {
          padding: 0;
        }

      }
    }








    form {
      padding: 0;

      .form-content {
        box-shadow: 0 0 3px $shadow-d1;
        padding: ($baseline*1.5);
        background-color: $white;
      }

      .field {
        margin-bottom: ($baseline/2);
      }

      label {
        @include font-size(14);
        display: block;
        font-weight: bold;
      }

      input[type="text"] {
        @extend %t-copy-sub2;
      }

      .actions {
        padding: ($baseline*0.75) 5% ($baseline/2) 5%;

        .action-item {
          @extend %t-action4;
          display: inline-block;
          margin-right: ($baseline*0.75);

          &:last-child {
            margin-right: 0;
          }
        }

        .action-primary {
          @include blue-button();
          @include font-size(12); // needed due to bad button mixins for now
          border-color: $blue-d1;
          color: $white;
        }

        a {
          color: $blue;

          &:hover {
            color: $blue-s2;
          }
        }
      }
    }
  }


  // modal-window set-up
  .wrapper-modal-window {
    visibility: hidden;
    pointer-events: none;

    .modal-window {
      opacity: 0;
    }
  }

  // modal-window showing/hiding
  &.modal-window-is-shown {
    overflow: hidden;

    .wrapper-modal-window.is-shown {
      visibility: visible;
      pointer-events: auto;

      .modal-window {
        opacity: 1.0;
      }
    }
  }
}
